<body>
    <div class="formulario">
        <form action="../php/fazLogin.php"  method="post">

            <label for="emailUsuario">Email:</label>
            <input type="email" name="emailUsuario" id="emailUsuario">

            <label for="senhaUsuario">Senha:</label>
            <input type="password" name="senhaUsuario" id="senhaUsuario">


            <button type="submit">logar</button>
            <a href="../php/cadastro.php">Nao possui uma conta? Clique aqui</a>
        </form>
        
    </div>
</body>