<body>
    <div class="formulario">
        <form action="../php/fazCadastroLivro.php"  method="post" enctype="multipart/form-data">

            <label for="nomeLivro">Nome do Livro:</label>
            <input type="text" name="nomeLivro" id="nomeLivro">

            <label for="autorLivro">Autor do Livro:</label>
            <input type="text" name="autorLivro" id="autorLivro">

            <label for="editoraLivro">Editora:</label>
            <input type="text" name="editoraLivro" id="editoraLivro">

            <label for="dataLivro">Data da publicação:</label>
            <input type="date" name="dataLivro" id="dataLivro">

            <label for="linkLivro">Link para compra do livro:</label>
            <input type="text" name="linkLivro" id="linkLivro">

            <label for="categoriaLivro">Categoria Livro:</label>
            <select name="categoriaLivro" id="categoriaLivro">
                <option value="Literatura">Literatura</option>
                <option value="docente">Didático</option>
            </select>

            <button type="submit">Cadastrar Livro</button>
        </form>
        
    </div>

</body>